@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.formControl{
  @apply rounded-md;
   @apply mb-6;
   @apply py-4;
   @apply px-3;

}
.formControl:focus{
  @apply outline-none;
}
.btn-submit{
  @apply flex w-full bg-gray-800 text-white items-center justify-center p-3 rounded-md mt-4 text-2xl font-bold;
}
.btn-submit:focus{
  @apply outline-none;
}
/* .btn-submit:hover .arrow{
transform: translateX(4px);
} */
/* .btn-submit:after{
  display:inline-block;
  content:url("data:image/svg+xml,%3Csvg class='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 8l4 4m0 0l-4 4m4-4H3'%3E%3C/path%3E%3C/svg%3E");

  transition: transform 0.3s ease-out;
  width: 25px;
  height: 25px;
  -webkit-transition: transform 0.3s ease-out;


}
.btn-submit:hover:after{
  -webkit-transform: translateX(4px);
transform:translateX(4px);
} */

